
																				/* GLOBAL WORKS */

.text-item {grid-area: title;}
.text-descr {grid-area: descr;}
.text-descr-2 {grid-area: descr2;}
.grid-global {grid-row-gap: 15px;}
.img-line {grid-area: img-element;}
.img-line-2 {grid-area: img-element-2;}
.img-layout1 {grid-area: img01;}
.img-layout2 {grid-area: img02;}
.img-layout3 {grid-area: img03;}
.img-layout4 {grid-area: img04;}
.img-layout5 {grid-area: img05;}
.img-layout6 {grid-area: img06;}
.def01 {grid-area: def01;}
.def02 {grid-area: def02;}
.def03 {grid-area: def03;}
.def04 {grid-area: def04;}
.def05 {grid-area: def05;}
.def06 {grid-area: def06;}
.img-pres {grid-area: img-pres;}



.project-details .phone {position: absolute; right: 15vw; top: 140px;}
.project02-details .motion {position: absolute; right: 15vw; top: 180px;}
.project03-details .carefood {position: absolute; right: 15vw; top: 235px;}
.project04-details .climax-teaser {position: absolute; right: 15vw; top: 235px;}
.project05-details .blog-video {position: absolute; right: 15vw; top: 215px; border-radius: 18px;}
.project06-details .data-video {position: absolute; right: 15vw; top: 180px;}

.close {
	position: fixed;
	top: 15px;
	left: 3vw;
	background-image: url("../img/close.png");
	background-size: contain;
	height: 35px;
	width: 35px;
	margin: 20px auto 20px auto;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;}
.link-close { grid-column: 2; grid-row: 1; }


																							/* WORK 01 */

.project-details {
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 350px repeat(10,auto);
  grid-area: content;
	grid-template-areas:
		". title . ."
		". descr . ."
		". search-meteo search-meteo ."
		". logo-meteo logo-meteo ."
		". descr2 descr2 ."
		". wf-meteo wf-meteo ."
		". icon-meteo icon-meteo ."
		". img-pres img-pres ."
		". img-element img-element ."
		". icon2-meteo icon2-meteo ."
		". img-element-2 img-element-2 .";
	grid-row-gap: 40px;}

.project-details .backgd-header {
	grid-column: 1 / span 4; grid-row: 1 / span 1;
	z-index: -1;
	background-color: #a1e0d1;}

.logo-meteo {
	display: flex;
	background-color: #fff;
	padding: 30px;
	width: 15vw;
	box-shadow: 3px 3px 9px #808080;
	padding: 2vw 5vw 2vw 5vw;
	margin: 3vw auto 3vw auto;
}
.fd-logo-meteo {
	background-color: #C3F1E6;
	grid-area: logo-meteo;
}
.wf-meteo {
	display: flex;
	background-color: #F5F5F5;
	width: 100%;
	padding: 4vw 0 4vw 0;
	grid-area: wf-meteo;
}
.icon-meteo {
	background-color: #64C0B7;
	width: 80%;
	padding: 3vw 10% 3vw 10%;
	grid-area: icon-meteo;
}
.icon2-meteo {
	background-color: #a8e6d6;
	grid-area: icon2-meteo;
}
.icon2-meteo img{
	display: flex;
	background-color: #fff;
	padding: 30px;
	width: 50%;
	box-shadow: 3px 3px 9px #808080;
	padding: 2vw 5vw 2vw 5vw;
	margin: 3vw auto 3vw auto;
}

.search-meteo {
	width: 60%;
	margin: 5vw auto 5vw auto;
	grid-area: search-meteo;
}
.text-descr-2 {
	margin: 3vw 23%;
}
.img-line {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: "def01 def02 def03" "img01 img02 img03";
	grid-column-gap: 5vw;
	grid-row-gap: 10px;
	padding: 5vw;
}

.img-line-2 {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas:"def04 def05 def06" "img04 img05 img06";
	grid-column-gap: 5vw;
	grid-row-gap: 10px;
	padding: 5vw;
}

.img-layout1,.img-layout2,.img-layout3,.img-layout4,.img-layout5,.img-layout6 {
	display: grid;
	grid-template-rows: auto auto auto;
	box-shadow: 3px 3px 9px grey;
	grid-template-areas: "before" "overflow" "after";}

.bg-img {
	background-color: #D8EFEA;
	grid-column: 1 / span 4;
	grid-row: 9 / span 1;}

.bg-img-2 {
	background-color: #f1efef;
	grid-column: 2 / span 2;
	grid-row: 11 / span 1;}

.img-overflow {
	grid-area: overflow;
	display: block;
	white-space: inherit;
	height: 32vw;
	overflow: auto;}

.img-layout6 .img-overflow {
	white-space: none;
	overflow: unset;}

.def01, .def02, .def03, .def04, .def05, .def06 {
	font-family: 'Source Sans Pro';
	opacity: 0.7;
	color: #b3b1b1	;
	letter-spacing: 0.8pt;
	font-weight: 300;
	font-size: 11pt;
	line-height: 24pt;
	text-align: center;}

.img-element {
	white-space: inherit;
	width: 100%;
	height: auto;}

.img-before {
	grid-area: before;
	display: block;
	width: 100%;
	height: 1.5vw;
	background: url("../img/01/header.png");
	background-size: 100%;
	background-position: center;}
.img-after {
	grid-area: after;
	display: block;
	width: 100%;
	height: 2.6vw;
	background: url("../img/01/footer.png");
	background-size: 100%;
	background-position: center;}

.fond-tab {
	grid-column: 2 / span 2;
	grid-row: 8 / span 1;
	justify-self:stretch;
	height: 40vw;}
.tableau {
	grid-column: 2 / span 2;
	grid-row: 8 / span 1;
	justify-self:center;
	align-self: center;
	width: 54%;
	box-shadow: 3px 3px 9px #808080;}


																						/* WORK 02 */

.project02-details{
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 350px repeat(3,auto);
  grid-area: content;
	grid-template-areas:
		". title . ."
		". descr . ."
		". img-motion img-motion ."
		". video-link video-link .";
	grid-row-gap: 40px;}

.project02-details .backgd-header {
	grid-column: 1 / span 4; grid-row: 1 / span 1;
	z-index: -1;
	background-color: #f4e0b1;}

.video-link-motion {grid-area: video-link; margin-right: auto; margin-left: auto; margin-top: 7vw;}

.img-motion {
	display: grid;
	grid-area: img-motion;
	grid-template-columns: 33% 33% 33%;
  grid-template-rows: repeat(2, 25vw);
	grid-template-areas: "img-m01 img-m02 img-m03" "img-m04 img-m05 img-m06";}
.img-m01 {grid-area: img-m01; background-image: url("../img/02/feutre.png"); background-size: cover; background-position: center;}
.img-m02 {grid-area: img-m02; background-image: url("../img/02/pastel.png"); background-size: cover; background-position: center;}
.img-m03 {grid-area: img-m03; background-image: url("../img/02/peinture.png"); background-size: cover; background-position: center;}
.img-m04 {grid-area: img-m04; background-image: url("../img/02/psyche.png"); background-size: cover; background-position: center;}
.img-m05 {grid-area: img-m05; background-image: url("../img/02/peyber.png"); background-size: cover; background-position: center;}
.img-m06 {grid-area: img-m06; background-image: url("../img/02/skate.png"); background-size: cover; background-position: center;}

																							/* WORK 03 */

.project03-details{
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 350px repeat(3,auto);
  grid-area: content;
	grid-template-areas:
		". title . ."
		". descr . ."
		". img-c01 img-c02 ."
		". img-c03 img-c04 ."
		"img-c05 img-c05 img-c05 img-c05"
		". video-carefood video-carefood .";
	grid-row-gap: 40px;}

.project03-details .backgd-header {
	grid-column: 1 / span 4; grid-row: 1 / span 1;
	z-index: -1;
	background-color: #a6deca;}

.video-carefood {grid-area: video-carefood; margin-right: auto; margin-left: auto; margin-top: 7vw;}
.img-carefood video { position: relative; box-shadow: 0px 0px 0px; }
.img-c01 {grid-area: img-c01; position: relative; box-shadow: 0px 0px 0px; }
.img-c02 {grid-area: img-c02; background-color: #4db99c;}
.img-c03 {grid-area: img-c03; width: 100%;}
.img-c04 {grid-area: img-c04; width: 100%;}
.img-c05 {grid-area: img-c05; width: 100%;}
.img-c01, .img-c02 {
	justify-self:center;
	width: 80%;
	padding: 10%;}
.img-c02 img {width: 80%; padding: 4vw;}
																							/* WORK 04 */

#work04 {padding-top: 100px;}
.project04-details{
display: grid;
grid-template-columns: 10% 40% 40% 10%;
grid-template-rows: 350px auto 37vw 50vw repeat(4,37vw);
grid-area: content;
grid-template-areas:
". title . ."
". descr . ."
". img-f01 img-f02 ."
". img-f04 img-f04 ."
". img-f05 img-f06 ."
". img-f07 img-f08 ."
". img-f09 img-f10 ."
". img-f11 img-f12 .";
grid-row-gap: 40px;}

.project04-details .backgd-header {
grid-column: 1 / span 4; grid-row: 1 / span 1;
z-index: -1;
background-color: #1b3e4e;}


.img-f01 {grid-area: img-f01; background-image: url("../img/04/elements.png"); background-color: #f9efbb;}
.img-f02 {grid-area: img-f02; background-image: url("../img/04/icones.png"); background-color: #fffbd7;}
.img-f03 {grid-area: img-f03; background-image: url("../img/04/zoom.jpg");}
.img-f04 {grid-area: img-f04; background-image: url("../img/04/plan-implan.jpg");}
.img-f05 {grid-area: img-f05; background-image: url("../img/04/tram-mockup.jpg");}
.img-f06 {grid-area: img-f06; background-image: url("../img/04/tram.jpg");}
.img-f07 {grid-area: img-f07; background-image: url("../img/04/paulk.jpg");}
.img-f08 {grid-area: img-f08;}
.img-f08 video { position: relative; box-shadow: 0px 0px 0px; width: 37vw;}
.img-f09 {grid-area: img-f09; background-image: url("../img/04/baniere.jpg");}
.img-f10 {grid-area: img-f10; background-image: url("../img/04/img-scene.jpg");}
.img-f11 {grid-area: img-f11; background-image: url("../img/04/borne.jpg"); background-size: 80%;}
.img-f12 {grid-area: img-f12; background-image: url("../img/04/img-borne.jpg");}

.img-f01, .img-f02, .img-f03, .img-f04, .img-f05, .img-f06, .img-f07, .img-f08, .img-f09, .img-f10, .img-f11, .img-f12
 {background-size: cover; background-position: center;}

																							/* WORK 05 */

.project05-details{
display: grid;
grid-template-columns: 10% 40% 40% 10%;
grid-template-rows: 350px repeat(3,auto);
grid-area: content;
grid-template-areas:
". title . ."
". descr . ."
". . . ."
". . . .";
grid-row-gap: 10px;
grid-column-gap: 10px;}

.project05-details .backgd-header {
grid-column: 1 / span 4; grid-row: 1 / span 1;
z-index: -1;
background-color: #fff7a4;}
#work05 video {border-radius: 18px;}

																							/* WORK 06 */

.project06-details{
display: grid;
grid-template-columns: 10% 40% 40% 10%;
grid-template-rows: 350px auto repeat(6,auto);
grid-area: content;
grid-template-areas:
". title . ."
". descr . ."
". img-27ana1 img-27ana1 ."
". img-27ana2 img-27ana2 ."
". img-27ptrait img-27ptrait ."
". img-2702 img-2702 ."
". img-2703 img-2703 ."
"img-2701 img-2701 img-2701 img-2701"
". img-2704 img-2705 .";
grid-row-gap: 40px;}

.project06-details .backgd-header {
grid-column: 1 / span 4; grid-row: 1 / span 1;
z-index: -1;
background-color: #e26a48;}

.img-27ana1 {grid-area: img-27ana1; background-image: url("../img/06/analyse1.jpg"); width: 100%; height: 43vw; margin: 0 auto 0 auto;}
.img-27ana2 {grid-area: img-27ana2; background-image: url("../img/06/analyse2.jpg"); width: 100%; height: 43vw; margin: 0 auto 0 auto;}
.img-27ptrait {grid-area: img-27ptrait; background-image: url("../img/06/portrait.jpg"); width: 100%; height: 43vw; margin: 0 auto 0 auto;}

.img-2701 {grid-area: img-2701; background-image: url("../img/06/affiches-all.jpg"); background-color: #fff;}
.img-2702 {grid-area: img-2702; background-image: url("../img/06/icones-01.png"); background-color: #fff; width: 80%; height: 40vw; margin: 0 auto 0 auto;}
.img-2703 {grid-area: img-2703; background-image: url("../img/06/icones-02.png"); background-color: #fff;width: 80%; height: 40vw; margin: 0 auto 0 auto;}
.img-2704 {grid-area: img-2704; background-image: url("../img/06/img-01.jpg"); background-color: #fff;}
.img-2705 {grid-area: img-2705; background-image: url("../img/06/img-02.jpg"); background-color: #fff;}

.img-2701,.img-2702,.img-2703,.img-2704,.img-2705, .img-27ana1, .img-27ana2, .img-27ptrait {background-size: cover; background-position: center;}
